[user]
	name = Benjamin Buccianti
	email = bbuccianti@sugit.com.ar
	signingkey = EBB08AC92CDF324485691803387897CFCAAA5A9B
[pull]
	rebase = true
[gpg]
	program = gpg
[commit]
	gpgsign = true
[credential]
	helper = store
