[user]
	name = Benjamin Buccianti
	email = bbuccianti@sugit.com.ar
	signingkey = 5A2C1CEEA1F500020454BD0CBF431C87F615B0E7
[pull]
	rebase = true
[gpg]
	program = gpg
[commit]
	gpgsign = true
[credential]
	helper = store
