! emacs
emacs.horizontalScrollBars: false
emacs.verticalScrollBars: false
emacs.menuBar: false
emacs.scrollBar: false
emacs.toolBar: false
emacs.FontBackend: xft
emacs.font: DejaVu Sans Mono 11
emacs.background: #ffffff

Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault